name: Publish Release

on:
  release:
    types:
      - published

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Upload assets to releases
        run: ./gradlew build publishAllPublicationsToFlashyReeseReleasesRepository
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
          BUILD_RELEASE: ${{ github.event.prerelease == false }}
      - name: Publish to Modrinth & CurseForge
        uses: Kir-Antipov/mc-publish@v2.1
        with:
          modrinth-id: PtjYWJkn
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          curseforge-id: 447673
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          github-token: ${{ secrets.GITHUB_TOKEN }}

          version-type: release

          loaders: fabric

          version-resolver: latest
          dependencies: |
            sodium | depends | *
            fabric-api | depends | *
            reeses-sodium-options | recommends | *
            irisshaders | recommends | *
            iris | recommends | *
